* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 3000px; /* togliere */
  background-color: violet;
}

/* HEADER */
header {
  height: 100px; /* togliere */
  background-color: gold;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

header .logo {
  width: 132px;
  height: 44px; /* togliere */
  background-color: blue;
  border: 1px solid black;
}

nav .nav-1 {
  width: 542px;
  height: 44px; /* togliere */
  background-color: blue;
  border: 1px solid black;
}

header .bottone {
  width: 50px;
  height: 50px; /* togliere */
  background-color: blue;
}

/* MAIN */

/* jumbotron */
.container .jumbotron {
  width: 2000px;
  height: 547px; /* togliere */
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .jumbotron .text {
  width: 781px;
  height: 336px; /* togliere */
  background-color: brown;
  text-align: center;
}

.jumbotron .text .button-1 {
  width: 227px;
  height: 57px; /* togliere */
  background-color: chartreuse;
  border: 1px solid black;
  display: inline-block;
}

.jumbotron .text .button-2 {
  width: 227px;
  height: 57px; /* togliere */
  background-color: chartreuse;
  border: 1px solid black;
  display: inline-block;
}

/* informazioni */

.container .info {
  width: 2000px;
  height: 741px; /* togliere */
  background-color: blueviolet;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .info .img{
  width: 660px;
  height: 460px; /* togliere */
  background-color: gray;
  border: 2px solid black;
}

.container .info .info-uno {
  width: 450px;
  height: 560px; /* togliere */
  background-color: yellow;
  border: 2px solid black;
}

/* info due */
.container .info .info-due {
  width: 440px;
  height: 350px; /* togliere */
  background-color: yellow;
  border: 2px solid black;
}


/* info tre */
.container .info .info-tre {
  width: 450px;
  height: 420px;
  background-color: yellow;
  border: 2px solid black;
}

/* info-finale */
.container .info-finale {
  width: 2000px;
  height: 1250px;
  background-color: blueviolet;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.container .info-finale .testo-finale {
  width: 1103px;
  height: 200px;
  background-color: yellow;
  border: 2px solid black;
}

.container .info-finale .img-finale {
  width: 1103px;
  height: 588px;
  background-color: gray;
  border: 2px solid black;
}

.container .info-finale .ready {
  width: 673px;
  height: 250px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.container .info-finale .ready .button-1 {
  width: 227px;
  height: 57px; /* togliere */
  background-color: chartreuse;
  border: 1px solid black;
}

/* FOOTER */

.footer {
  width: 2000px;
  height: 666px;
  background-color: #23272A;
}